[submodule "go-micro-demo"]
	path = go-micro-demo
	url = https://github.com/my-Sakura/go-micro-demo.git
[submodule "go-programming-model"]
	path = go-programming-model
	url = https://github.com/my-Sakura/go-programming-model.git
[submodule "telegram_translate_bot"]
	path = telegram_translate_bot
	url = https://github.com/my-Sakura/telegram_translate_bot.git
[submodule "go-telegram-bot"]
	path = go-telegram-bot
	url = https://github.com/my-Sakura/go-telegram-bot.git
[submodule "push-box"]
	path = push-box
	url = https://github.com/my-Sakura/push-box.git
[submodule "chatroom"]
	path = chatroom
	url = https://github.com/my-Sakura/chatroom.git
[submodule "chart"]
	path = chart
	url = https://github.com/my-Sakura/chart.git
[submodule "docker-echart"]
	path = docker-echart
	url = https://github.com/my-Sakura/docker-echart.git
[submodule "crawl"]
	path = crawl
	url = https://github.com/my-Sakura/crawl.git
[submodule "go-sms-server"]
	path = go-sms-server
	url = https://github.com/my-Sakura/go-sms-server.git
[submodule "scheduler-client"]
	path = scheduler-client
	url = https://github.com/my-Sakura/scheduler-client.git
