[submodule "go-micro-demo"]
	path = go-micro-demo
	url = https://github.com/my-Sakura/go-micro-demo.git
[submodule "go-programming-model"]
	path = go-programming-model
	url = https://github.com/my-Sakura/go-programming-model.git
[submodule "telegram_translate_bot"]
	path = telegram_translate_bot
	url = https://github.com/my-Sakura/telegram_translate_bot.git
[submodule "go-telegram-bot"]
	path = go-telegram-bot
	url = https://github.com/my-Sakura/go-telegram-bot.git
[submodule "push-box"]
	path = push-box
	url = https://github.com/my-Sakura/push-box.git
[submodule "chatroom"]
	path = chatroom
	url = https://github.com/my-Sakura/chatroom.git
[submodule "chart"]
	path = chart
	url = https://github.com/my-Sakura/chart.git
[submodule "docker-echart"]
	path = docker-echart
	url = https://github.com/my-Sakura/docker-echart.git
[submodule "crawl"]
	path = crawl
	url = https://github.com/my-Sakura/crawl.git
[submodule "go-sms-server"]
	path = go-sms-server
	url = https://github.com/my-Sakura/go-sms-server.git
[submodule "scheduler-client"]
	path = scheduler-client
	url = https://github.com/my-Sakura/scheduler-client.git
[submodule "scheduler-server"]
	path = scheduler-server
	url = https://github.com/my-Sakura/scheduler-server.git
[submodule "scheduler-worker"]
	path = scheduler-worker
	url = https://github.com/my-Sakura/scheduler-worker.git
[submodule "time-line-backend"]
	path = time-line-backend
	url = https://github.com/my-Sakura/time-line-backend.git
[submodule "timeline"]
	path = timeline
	url = https://github.com/my-Sakura/timeline.git
[submodule "osquery"]
	path = osquery
	url = https://github.com/my-Sakura/osquery.git
[submodule "tour-of-the-rust"]
	path = tour-of-the-rust
	url = https://github.com/my-Sakura/tour-of-the-rust.git
[submodule "go-yuque-api"]
	path = go-yuque-api
	url = https://github.com/my-Sakura/go-yuque-api.git
[submodule "mini-examination"]
	path = mini-examination
	url = https://github.com/my-Sakura/mini-examination.git
[submodule "vercel-stock"]
	path = vercel-stock
	url = https://github.com/my-Sakura/vercel-stock.git
[submodule "vercel"]
	path = vercel
	url = https://github.com/my-Sakura/vercel.git
